/* header */

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: beige;
}

ul {
  width: 900px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  position: relative;
  left: -50px;
 
}

nav ul li:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;

}

nav li a:hover{
    color: #113259;
    transform: scale(1.05);
    transition: transform 0.5s ease;
    
}

.active a {
    color: #113259;
    font-size: 1.2rem;
    
}

#banner {
    
    width: 100%;
    height: 800px;  
}

#imageSky{
    width:100%;
    height: 100%;
}
#imageTree{
    width: 100%;
    position: relative;
    top: -150px;
}
.highlight{
    position:absolute;
    top: 20%;
    left: 35%;
    right: 35%;
    text-align: center;
    color: beige;
    font-size: larger;
}
.sub-title{
    position: absolute;
    top: 28%;
    left: 35%;
    right: 35%;
    text-align: center;
    color: beige;
    font-size:20px;
}
.highlight:hover{
    color: #f5f5dc;
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}
.sub-title:hover{
    color: #f5f5dc;
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}
/* main */
main{
    width: 100%;
    height: 300px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    background-color: #113259;
}

#EnergyMix{
    position: relative;
    top: -450px;
    width: 750px;
    height: fit-content;
    
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
    justify-content: space-evenly;
    
}
#EnergyMix h1{

    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
#EnergyMix h1:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease; 
    color: #f5f5dc;

}

#EnergyMix p{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 30px;
}

#intervalContainer{
    margin-top: 15px;
    margin-left: 15px;
    width: fit-content;
}

#select-country{
  font-size: 18px;
  margin-top: 15px;
  margin-left: 20px;
}
#switchChartContainer select {
  
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  background: #f8f8f8;
  transition: border 0.2s;
}

#switchChartContainer select:focus {
  border: 1.5px solid #4CAF50;
  outline: none;
}


#us{
    margin-bottom: 4px;
}

#explore-btn {
    margin-left: 15px;;
  margin-top: 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    
    padding: 5px 30px 5px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

#EnergyMix select {
  width: 100%;
  padding: 5px 8px 5px 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  background: transparent;
  transition: border 0.2s;
}


#EnergyMix select:focus {
  border: 1.5px solid #4CAF50;
  outline: none;
}
#EnergyMix select:hover {
  border: 1.5px solid #4CAF50;
  outline: none;
  color: #f5f5dc;
}

/*fetch interval and date*/
.selectDate {
    font-size: 18px;
    margin-top: 15px;
    font-size: 15px;
}


/* Energy Mix Graph */
#energy-graph {
    position: relative;
    top: -600px;
    left: -50px;
    height: 561px;
    width: 1000px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    padding-top: 25px;
    padding-left: 25px;
}

.highlight-shift-up{
    position:absolute;
    top: 12%;
    left: 35%;
    right: 35%;
    text-align: center;
    color: beige;
    font-size: larger;
}

.sub-title-shift-up{
    position: absolute;
    top: 20%;
    left: 35%;
    right: 35%;
    text-align: center;
    color: beige;
    font-size:20px;
}
.highlight-shift-up:hover{
    color: #f5f5dc;
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}
.sub-title-shift-up:hover{
    color: #f5f5dc;
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}







/* options */




#optionContainerNew{
   position: relative;
   left: -85px;
    top: -450px;
    height: fit-content;
    width: 200px;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    background:transparent;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    padding-top: 25px;
}


#smallerContainerOption select {
  margin: 5px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  background: transparent;
  transition: border 0.2s;
}

#smallerContainerOption select:focus {
  border: 1.5px solid #4CAF50;
  outline: none;
}

#smallerContainerOption select:hover {
  border: 1.5px solid #4CAF50;
  outline: none;
  color: #f5f5dc;
}



#s-country{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options{
    margin-left: 5px;
    margin-right: 5px;
}

#explore-btn {
  margin-top: 8px;
  padding: 8px 30px;
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

#explore-btn:hover {
  background: #388e3c;
}
/*footer */


.site-footer {
  background-color: #113259;
  color: #2c2c2c;
  

  font-size: 0.9rem;
}

.site-footer img {
  width:100%;
    height: 100%;
}




.footer-container {
  width: 1080px;
  height: fit-content;
  padding: 40px;
  margin: auto;
  display: flex;
  
 
  align-items: flex-start;
}

.footer-container h3 {
  margin-bottom: 0.5rem;
  color: #c5c3c3;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  min-width: 0;             /* Prevents items from forcing line breaks */
}
.footer-links{
  margin-left: 50px;
}

.footer-links ul,
.footer-contact ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 50px;
}
.footer-about p{
  color:  #c5c3c3;
}
.footer-links li,
.footer-contact li {
  margin-bottom: 0.5rem;
}

.footer-links a,
.footer-contact a {
  color: #a1a1a1;
  text-decoration: none;
}

.footer-links a:hover,
.footer-contact a:hover {
    transform-origin: center;
  transform: scale(1.05);
    transition: transform 0.3s ease;
    color: #c6c4c4;
}


.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  
  padding-top: 1rem;
  color: #666;
}

/* Optional: Stack on smaller screens */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}
